{% extends 'base.html.twig' %}
{% block stylesheet %}
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
{% endblock %}
{% block body %}
  <nav class="login-header navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <div class="navbar-brand">DailyTweet(β)</div>
        <ul class="nav navbar-nav">
          <li>
            {% if is_granted('ROLE_OAUTH_USER') %}
              <a href="{{ path('home', {'username': app.user.username}) }}" class="btn menu-btn">Home</a>
            {% else %}
              <a href="{{ path('hwi_oauth_service_redirect', { 'service' : 'twitter' }) }}" class="btn menu-btn">Login with Twitter</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main>
    <div class="landing">
      <div class="opacity-layer">
        <div class="container" style="height: 100%;">
          <div class="row">
            <div class="flex-center col-md-12">
              <h3>{{ 'error.500'|trans|nl2br }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer">
    <ul class="navi">
      <li><a href="/"><small>{{ 'index.about'|trans }}</small></a></li>
      <li><a href="/"><small>{{ 'index.terms-of-service'|trans }}</small></a></li>
      <li><a href="/"><small>{{ 'index.privacy-policy'|trans }}</small></a></li>
    </ul>
    <div class="copyright">
      <small>Copyright © 2017 Ryota Murakami. All Rights Reserved.</small>
    </div>
  </footer>
{% endblock %}

{% block javascript %}
  <script src="{{ asset('/assets/build/js/index.js', 'webpack') }}"></script>
{% endblock %}
