<!DOCTYPE html>
<html>
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <meta property="description" content="{{ 'index.overview'|trans }}" />
        <meta property="og:title" content="TrueBlue" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://trueblue.design/" />
        <meta property="og:image" content="https://trueblue.design/ogp.jpg" />
        <meta property="og:site_name" content="TrueBlue" />
        <meta property="og:description" content="{{ 'index.overview'|trans }}" />
        <meta property="fb:app_id" content="1005760216193150" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@malloc007" />

        <title>{% block title %}TrueBlue{% endblock %}</title>
        {% block stylesheet %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="128x128" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
        <link rel="manifest" href="/manifest.json">
    </head>
    <body class="{{ app.request.get('_route') }}">
        {% block body %}{% endblock %}
        {% block javascript %}
            {% if app.environment == "dev" %}
            <script src="{{ asset('webpack-dev-server.js', 'webpack') }}"></script>
            {% endif %}
        {% endblock %}
    </body>
</html>
