{% extends 'AppBundle::base.html.twig' %}
{% block stylesheet %}
  <link rel="stylesheet" href="{{ asset('/css/index.css') }}">
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
{% endblock %}
{% block body %}
<nav class="navbar">
  <ul class="nav">
    <li class="nav-item header-title pull-left">
      <h1>Hello @{{ app.user.username }} {{ random(['＼(・｀(ｪ)・)/', '(*ノ・ω・）', 'o (◡‿◡✿)', 'ヽ(*・ω・)ﾉ']) }}</h1>
    </li>
  </ul>
</nav>
<main class="container">
  <article class="row timeline">
    {% for i in 0..100 %}
    <section class="timeline-item col-md-offset-3 col-md-6">
      <p>message {{i}}</p>
    </section>
    {% endfor %}
  </article>
</main>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
  var timeline = {{ timeline|json_encode()|raw }};
</script>
{% endblock %}
