{% extends 'AppBundle::base.html.twig' %}
{% block stylesheet %}
  <link rel="stylesheet" href="{{ asset('/css/index.css') }}">
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
{% endblock %}
{% block body %}
<nav class="navbar">
  <ul class="nav">
    <li class="nav-item header-title pull-left">
      <h1>Hello @{{ app.user.username }} {{ random(['＼(・｀(ｪ)・)/', '(*ノ・ω・）', 'o (◡‿◡✿)', 'ヽ(*・ω・)ﾉ']) }}</h1>
    </li>
    <li class="nav-item pull-right">
      <!-- React <MenuComponent /> render position -->
    </li>
  </ul>
</nav>
<main id="container" class="container">
  <!-- React <TimelineComponent /> render position -->
</main>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
  var json_daily_url = "{{ path('json_daily') }}";
  var timeline_date_list = eval({{ timeline_date_list|json_encode()|raw }});
  var timeline_json = eval({{ timeline|json_encode()|raw }});
</script>
<script src="{{ asset('/js/index.js') }}"></script>
{% endblock %}
